# 开头为注释行
# 空行即直接写文件名则该文件夹或文件被忽略上传
# 在文件或者文件夹前加 / 则表示仅在当前目录下该文件或者文件夹被忽略，也就是与.gitignore同级目录的文件或者文件夹。
# 在文件夹后加 / 则表示该文件夹下所有文件都被忽略
# *.a 表示所有已.a为结尾的问价都被忽略  当然也可以批量进行操作 如：*.[ab]为忽略所有以.a，.b为结尾的的问价  []可以类似正则进行匹配 例如[1-9]
# ！为否定忽略
roles_db
.idea